https:
  port:
  
twilio:
  username:
  password:
  protocol:
  host:
  port:
  basePath:

# Anypoint Platform
anypoint:
  platform:
    analytics_base_uri:
    client_id:
    client_secret:
    base_uri:
    visualizer:
      layer:   
       
api:
  autodiscovery:

# Keystore
keystore: 
  password: